<nav class="navbar navbar-expand-lg navbar-dark bg-gxy">
	<div class="container">
		<a class="navbar-brand" href="{{ site.baseurl }}/">
			<img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.title }}" style="height:70px">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/about">About</a>
				</li>
				 <li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/team">Team</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/posts">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/events">Events</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}/handbook">Handbook</a>
				</li>
				<li class="nav-item">
					<a target="_blank" class="nav-link" href="{{ site.github.repository_url }}">Github</a>
				</li>
			</ul>
		</div>
	</div>
</nav>