{% if include.location != "online" %}
  <div class="row row-map">
		{% if include.showmap %}
		<div class="col-md-3">
		{% else %}
		<div class="col-md-12">
		{% endif %}
				
		{% if include.location.name %}
		{{ include.location.name }}<br/>
		{% endif %}
		{% if include.location.street %}
		{{ include.location.street }}<br/>
		{% endif %}
		{% if include.location.postal %}
		{{ include.location.postal }},
		{% endif %}
		{% if include.location.city %}
		{{ include.location.city }}<br/>
		{% endif %}
		{% if include.location.region %}
		{{ include.location.region }}<br/>
		{% endif %}
		{% if include.location.country %}
		{{ include.location.country }}
		{% endif %}
	</div>

	{% if include.showmap and include.location.geo %}
	<div class="col-md-9">
		<div id="mapid_{{ include.location.name }}" style='height: 180px;'></div>
		<script type="text/javascript">
			var map = L.map('mapid_{{ include.location.name }}').setView([
				{{ include.location.geo.lat }},
				{{ include.location.geo.lon }}
			], {% if include.zoomlevel %}{{ include.zoomlevel }}{% else %}9{% endif %});

			L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
				attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
			}).addTo(map);

			var parts = [
				"{{ include.location.name }}",
				"{{ include.location.street }}",
				"{{ include.location.city }}",
				"{{ include.location.region }}",
				"{{ include.location.country }}",
			].filter(function(x){ return x !== "" });

			L.marker([
				{{ include.location.geo.lat }},
				{{ include.location.geo.lon }}
			]).addTo(map)
			{% if include.hidepopup %}
			{% else %}
				.bindPopup(parts.join(",<br>"))
			{% endif %}
				.openPopup();
		</script>
    </div>
	{% endif %}
	</div>
{% endif %}
