<div class="metafooter">
    <div class="wrapfooter">     
        <span class="meta-footer-thumb">
            <img class="author-thumb" src="https://avatars.githubusercontent.com/{{ post.author }}" alt="{{ author.name }}">
        </span>
        <span class="author-meta">
            <span class="post-name">
                <a target="_blank" href="{{ author.web }}">{{ author.name }}</a>
            </span>
            <br/>
            <span class="post-date">{{ post.date | date_to_string }}</span>
        </span>
        <div class="clearfix"></div>
    </div>
</div>