<div class="sidebar">
        <div class="sidebar-section">
            <h5><span>Useful Links</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://galaxyproject.org">The Galaxy Project</a></li>
            <li><a target="blank" href="https://carpentries.org/">The Carpentries</a></li>
            <li><a target="blank" href="https://training.galaxyproject.org">Galaxy Training Materials</a></li>
            <li><a target="blank" href="https://datacarpentry.org/lessons/#genomics-workshop">Carpentries Genomics Curriculum</a></li>
            </ul>
        </div>

        <div class="sidebar-section">
             <h5><span>Events</span></h5>
           <a href="#"/>Check back later</a>
        </div>

</div>
