---
---

.people {
	display: grid;
	grid-gap: 2em;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));


    .card {
    	background-color: #ffffff;
    	box-shadow: 0 2px 3px rgba(0,0,0,0.1),0 0 0 1px rgba(0,0,0,0.1);
    	color: #323232;
    	max-width: 100%;
    	position: relative;
    }

    .card-content {
    	background-color: transparent;
    	padding: 1.5rem;
    }

    .media {
    	align-items: flex-start;
    	display: flex;
    	text-align: left;
    }

    .image.is-64x64 {
    	height: 64px;
    	width: 64px;
    }

    .image img.is-rounded {
    	border-radius: 290486px;
    }

    .media-left {
    	margin-right: 1rem;
    }

    .media-left, .media-right {
    	flex-basis: auto;
    	flex-grow: 0;
    	flex-shrink: 0;
    }

    .media-content {
    	flex-basis: auto;
    	flex-grow: 1;
    	flex-shrink: 1;
    	text-align: left;

        a {
            margin-right: 1rem;
		}
		
		margin-bottom: 1rem;
    }

    .title.is-4 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
    }

    .subtitle.is-6 {
		font-size: 1rem;
		margin-bottom: 0;
    }

}

.row-map {
	margin-bottom: 15px;
}

nav[data-toggle='toc'] {
    margin-top: 0px;
    margin-bottom: 30px;
    .nav {
		list-style: none;
        li {
            a {
				box-shadow: none;
				color: #767676 !important;
                &:hover,
                &:focus,
                &:active{
					color: #767676 !important;
					border-left: 0px !important;
                }
			}
			
			.active {
				color: #767676 !important;
				border-left: 0px !important;
            }
        }
    }

	.nav-link.active {
		color: #767676 !important;
		border-left: 0px !important;
    }
}

@media (max-width: 768px) {
	nav[data-toggle="toc"] {
	  margin-bottom: 42px;
	  position: static;
	}
  
	nav[data-toggle="toc"] .nav .active .nav {
	  display: none;
	}
  }

.col-sm-2 {
    padding-left: 0px;
}