---
---
body {
    font-family: "Raleway", "Helvetica Neue", sans-serif;
}

.bg-gxy {
	background: #2b3143;
}

.row-map {
	margin-bottom: 15px;
}

nav[data-toggle='toc'] {
    margin-top: 0px;
    margin-bottom: 30px;
    .nav {
		list-style: none;
        li {
            a {
				box-shadow: none;
				color: #767676 !important;
                &:hover,
                &:focus,
                &:active{
					color: #767676 !important;
					border-left: 0px !important;
                }
			}

			.active {
				color: #767676 !important;
				border-left: 0px !important;
            }
        }
    }

	.nav-link.active {
		color: #767676 !important;
		border-left: 0px !important;
    }
}

@media (max-width: 768px) {
	nav[data-toggle="toc"] {
	  margin-bottom: 42px;
	  position: static;
	}

	nav[data-toggle="toc"] .nav .active .nav {
	  display: none;
	}
  }

.col-sm-2 {
    padding-left: 0px;
}

.article-post img {
	box-shadow: none;
	padding-top: 10px;
	padding-bottom: 20px;
}


.footer {
	color: #ccc;
	margin-top: 50px;
    margin-bottom:0px;
    padding: 30px;

	a {
		color: rgba(255, 229, 31,1)
	}
}


.postnav {

	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 1em;

	div:first-child {
		border-right: 1px solid #ccc;
	}

	a {
		padding: 1em;
		font-size: 1.2rem;
		display: block;
	}
}

.navbar {
	box-shadow: 0 0 20px 0px #2b3143;
	.navbar-nav {
		.nav-link {
			text-transform: uppercase;
			color: white;
			margin-left: 1rem;
		}
	}
}

a, a:hover {
	transition:all 0.2s;
}

.article-post {
	font-size: 1.1rem;
	line-height: 1.8;
	color: black;

	a {
		color:inherit;
		box-shadow:inset 0 -2px 0 rgba(255, 229, 31,1), 0 2px 0 rgba(255, 229, 31,1);

		&:hover {
			box-shadow:inset 0 -30px 0 rgba(255, 229, 31,1), 0 2px 0 rgba(255, 229, 31,1);
			text-decoration:none;
		}
	}
}

img {
	max-width:100%;
	height: auto;
}

h1, h2, h3, h4 {
	padding-top: 0.6rem;
	font-weight: 700;
}

.site-content {
	padding: 3.5rem 0;
}

figcaption {
	font-style: italic;
	font-size: 80%;
}

blockquote {
	padding-left: 1em;
	border-left: 5px solid #ccc;
}

.hall-of-fame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.hall-of-fame-hero {
    width: 140px;
    margin: 1rem;
    text-align: center;

    .name {
        margin-top: 0.5rem;
    }

    .contact-items {
        margin-top: 0.2rem;
    }

    img {
        background-color: white;
        border-radius: 20px;
        border: 1px solid #ccc;
        padding: 5px;
        width: 100%;
        -webkit-transition: border 0.2s ease-in-out;
        -o-transition: border 0.2s ease-in-out;
        transition: border 0.2s ease-in-out;

        &:hover,
        &:focus,
        &:active {
                border-color: blue;
        }
    }
}
