---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">
        <title>{{ page.title }} | {{ site.title }}</title>
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/all.css" >
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/leaflet.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-toc.min.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">
        <link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
    </head>

    {% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
    <body class="{{ layout }}" data-spy="scroll" data-target="#toc">
        {% include _includes/default-header.html %}
        <div class="site-content">
            {{ content }}
            {% include _includes/default-footer.html %}
        </div>
        <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/bootstrap-toc.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/leaflet.js"></script>
    </body>
</html>
