---
layout: default
---

<section>
	<div class="article-post">
		<h1>{{ page.title }}</h1>

		<div class="meta">
			<div class="post-date">
				<i class="fas fa-calendar-alt"></i>
				<time class="post-date" datetime="{{ page.starts | date:"%Y-%m-%d" }}">{{ page.starts | date_to_string }}</time>
				-
				<time class="post-date" datetime="{{ page.ends | date:"%Y-%m-%d" }}">{{ page.ends | date_to_string }}</time>
			</div>
			<div class="post-date"><i class="fas fa-map-marker"></i>
				{% assign sep = '' %}
				{% for loc in page.locations %}
					{{ sep }}{{ loc.city }}, {{ loc.country }}
					{% assign sep = ' - ' %}
				{% endfor %}
			</div>
		</div>

		<div>
			{{content}}
		</div>

		{% include _includes/navigation.html %}
	</div>
</section>
